<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, inital-scale=1, maximun-scale=1, minimun-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/standar.css" %}">
	<link rel="stylesheet" href="{% static "css/welcome/welcome.css" %}">
	<link rel="stylesheet" href="{% static "css/fontello.css" %}">
	<link rel="stylesheet" href="{% static "css/welcome/banner.css" %}">
	{%block contenido-head%}

	{%endblock%}
</head>
<body>
	<header>
		<div class="container">
			<h1><a href="{% url 'welcome' %}"><img src="{% static "img/LogoChicorita.png" %}" alt="LogoChicorita"></a> Chikorita</h1>
			<input type="checkbox" id="menu-bar">
			<label class="icon-menu" for="menu-bar"></label>	
			<nav class="menu" id="nav">
				{%if user.is_authenticated%}
					<a href="{% url 'dashboard' %}">Dashboard</a>
					<a href="{% url 'logout' %}">Cerrar Sesión</a>
					<a href="">Ver flores</a>
					<a href="">Contacto</a>
				{%else%}
					<a href="{% url 'login' %}">Entrar</a>
					<a href="{% url 'register' %}">Registrarse</a>
					<a href="">Ver flores</a>
					<a href="">Contacto</a>
				{%endif%}
			</nav>
		</div>
	</header>
	{%block contenido-body%}

    {%endblock%}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static "js/nav.js" %}"></script>
</body>
</html>