<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, inital-scale=1, maximun-scale=1, minimun-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/standar.css" %}">
	<link rel="stylesheet" href="{% static "css/welcome/welcome.css" %}">
	<link rel="stylesheet" href="{% static "css/fontello.css" %}">
	<link rel="stylesheet" href="{% static "css/welcome/banner.css" %}">

	<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{% static "img/LogoChicorita.png" %}" type="image/x-icon">
	{%block contenido-head%}

	{%endblock%}
</head>
<body>
	<header>
		<div class="container">
			<h1><a href="{% url 'welcome' %}"><img src="{% static "img/LogoChicorita.png" %}" alt="LogoChicorita"></a> Chikorita</h1>
			{%if user.is_authenticated%}
			{%endif%}
			<input type="checkbox" id="menu-bar">
			<label class="icon-menu" for="menu-bar"></label>	
			<nav class="menu" id="nav">
				{%if user.is_authenticated%}
					<a href="{% url 'dashboard' %}">Dashboard</a>
					<a href="{% url 'logout' %}">Cerrar Sesión</a>
					<a href="">Ver flores</a>
					<a href="">Contacto</a>
				{%else%}
					<a href="{% url 'login' %}">Entrar</a>
					<a href="{% url 'register' %}">Registrarse</a>
					<a href="{% url 'verFlores' %}">Ver flores</a>
					<a href="">Contacto</a>
				{%endif%}
			</nav>
			<svg class="bi bi-cart4" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;height: 50%;width: 3%;float: right;margin: 21px 20px 0 0;">
			<path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
			</svg>
		</div>
	</header>
	{%block contenido-body%}

    {%endblock%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static "js/nav.js" %}"></script>
</body>
</html>